<div id="side-nav" class="main_side_menu">
    <ul class="menu">
        <li class="logo">
            <img src="./image/logo.jpg" alt="logo-menu">
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
        <li class="account-list">
            <a href="#">My FC.Account</a>
        </li>
        <li>
            <a href="#">Agents</a>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#sales-service" role="button" aria-expanded="false" aria-controls="sales-service">
                Our Sales Service
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="sales-service">
                <ul class="menu-collapse">
                    <li>Valuations</li>
                    <li>Sell my property</li>
                    <li>Buyer's Guide</li>
                    <li>Sellers's Guide</li>
                    <li>Mortgage Service</li>
                    <li>UK Investment</li>
                    <li>Internetional Investors</li>
                    <li>Currency</li>
                    <li>Conveyancing</li>
                </ul>
            </div>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#rent-service" role="button" aria-expanded="false" aria-controls="rent-service">
                Our Rent Service
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="rent-service">
                <ul class="menu-collapse">
                    <li>Valuations</li>
                    <li>Sell my property</li>
                    <li>Buyer's Guide</li>
                    <li>Sellers's Guide</li>
                    <li>Mortgage Service</li>
                    <li>UK Investment</li>
                    <li>Internetional Investors</li>
                    <li>Currency</li>
                    <li>Conveyancing</li>
                </ul>
            </div>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#explore" role="button" aria-expanded="false" aria-controls="explore">
                Explore
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="explore">
                <ul class="menu-collapse">
                    <li>Valuations</li>
                    <li>Sell my property</li>
                    <li>Buyer's Guide</li>
                    <li>Sellers's Guide</li>
                    <li>Mortgage Service</li>
                    <li>UK Investment</li>
                    <li>Internetional Investors</li>
                    <li>Currency</li>
                    <li>Conveyancing</li>
                </ul>
            </div>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#about-us" role="button" aria-expanded="false" aria-controls="about-us">
                About Us
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="about-us">
                <ul class="menu-collapse">
                    <ul class="menu-collapse">
                        <li>Valuations</li>
                        <li>Sell my property</li>
                        <li>Buyer's Guide</li>
                        <li>Sellers's Guide</li>
                        <li>Mortgage Service</li>
                        <li>UK Investment</li>
                        <li>Internetional Investors</li>
                        <li>Currency</li>
                        <li>Conveyancing</li>
                    </ul>
                </ul>
            </div>
        </li>
        <li>
            <a href="#">Agents</a>
        </li>
    </ul>
    <div class="closebtn">
        <a type="button" onclick="toggleNav()">
            Close
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>