<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/bootstrap.min.css">
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Fond Corporaties</title>
</head>
<body id="body">
	<div class="wrapper">
		<%- include('./partials/header.ejs') %>
        <section class="header-back-about" style="padding: 12rem 0;">
			<div class="container-fluid">
                <div class="row text-white align-items-center">
                    <h1 class="text-uppercase fw-bold">About Us</h1>
                    <hr class="w-25 mx-2">
                    <p>F & C Properties Mission & Vision</p>
                </div>
            </div>
		</section>
		<main class="full-page">
			<section class="py-5 about-us__person">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div>
                            <h2 class="fw-bold">F&C Properties</h2>
                            <hr class="card-title__line bg-primary">
                        </div>
                        <div class="col-md-6 col-sm-12 mt-3">
                            <p class="card-paragraph">
                                <span>
                                    F&C Properties offering comprehensive and professional real estate services to wide range of customers across the UAE and internationally.                            </span>
                                <span>
                                    We are proud to be affiliated with some of the largest Real Estate key players such as Emaar, Dubai Holding, Meraas, District One, Sobha and SLS to name a few.
                                </span>
                                <span>
                                    We have an extensive portfolio of property listings and investment opportunities within Dubai and across the UAE.
                                </span>
                                <span>
                                    At F&C Properties, we are focused on providing only topnotch services whether it is sales, lease or investment , our team have the right tools to keep our customers fully satisfied.
                                </span>
                                <span>
                                    Complete one-stop solutions to every customized need.
                                </span>
                                <span>
                                    Honouring our core values which comprise integrity and transparency, we strive to build a relationship based on trust with each customer.
                                </span>
                                <span>
                                    Our Brokers are well trained and have an extensive experience in Real Estate market who will guide our clients all the way through until they are completely satisfied with our services.
                                </span>
                                <span>
                                    We only offer the best properties & and the best projects with high yields.
                                </span>
                                <span>
                                    Come and visit us and we assure you that we get the deal done.
                                </span>
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="card border-0 rounded-0">
                                <div class="bg-white p-3 shadow">
                                    <img src="../image/odam.png" class="card-img-top" alt="card-img">
                                </div>
                                <div class="card-body bg-light">
                                    <h5 class="card-title text-center">Farrukh Iminov</h5>
                                    <p class="card-text text-center">CEO / Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid py-5 my-2">
				<div>
					<h2 class="fw-bold">Managment</h2>
					<hr class="card-title__line bg-primary w-25">
				</div>
                <div class="row">
					<div class="col-md-12 col-sm-12 d-flex justify-content-center">
						<img src="../image/managers.png" alt="tree-managers" class="img-fluid">
					</div>
                </div>
            </section>
            <section class="about-us-image _shape-skew my-5">
                <div class="container-fluid py-5 _shape-skew-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 text-white">
                            <h3 class="text-uppercase">
                                OUR <br> <b>Vision</b>
                            </h3>
                            <p>
                                For us, going above and beyond is just the beginning of our journey with our clients. Our vision is to grow the company into one of the most respected and admired brokerages in Dubai using the core values that have got us this far.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-12 text-white">
                            <h3 class="text-uppercase">
                                OUR <br> <b>Mission</b>
                            </h3>
                            <span class="card-paragraph">
                                <span>Our Mission is to provide “Excellence in Dubai Real Estate Services” to all of our clients by conducting all of our business with the highest levels of professionalism, honesty and integrity.</span>
                                <br>
                                <span>Our team approach is designed to use our combined knowledge, experience and skills to provide the expertise and service our clients expect and deserve.</span>
                                <br>
                                <span>Our goal is to ensure a smooth process for our clients in whether, buying, selling or leasing a property from us. We embrace all the challenging situations related to transactions as opportunities to use our professional skills. We find solutions that best achieve the needs of our valued clients.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid py-4">
                <div class="row flex-row align-items-center">
                    <div class="col">
                        <h2>
                            <b>Need to discuss anything?</b>
                        </h2>
                        <p class="text-uppercase mt-2">GET UPDATES ON OUR ALL LISTING</p>
                        <a href="#" class="btn btn-primary py-2">
                            Contact us
                        </a>
                    </div>
                </div>
            </section>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md my-4">
						<img src="../image/logo-footer.png" alt="logo-footer">
					</div>
				</div>
				<h4>
					<b>Experience <br> better.</b>
				</h4>
				<div class="row mt-4">
					<div class="col-md-4 col-sm-12 d-flex justify-content-md-between">
						<ul class="footer_list">
							<li>
								<a href="#">Awards</a>
							</li>
							<li>
								<a href="#">Our Story</a>
							</li>
							<li>
							   	<a href="#">Our Branches</a>
							</li>
							<li>
							 	<a href="#">Meet The Team</a>
							</li>
							<li>
								<a href="#">Why Choose Us</a>
							</li>
							<li>
								<a href="#">A partner of houza.com</a>
							</li>
						</ul>
					
						<ul class="footer_list">
							<li>
								<a href="#">Blogs</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Make a Complaint</a>
							</li>
							<li>
								<a href="#">Publications</a>
							</li>
							<li>
								<a href="#">Preferred Partners</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-12">
						<div class="footer_description">
							<h4>Let's keep in touch</h4>
							<p>
								Subscribe to our newsletters and be the first to know about exclusive deals, property price trends and real estate news in the UAE.
							</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-12">
						<div>
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="text" placeholder="Name">
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="text" placeholder="Surname">
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="email" placeholder="Your e-mail">
						</div>
					</div>
					<div class="col-md-2 col-sm-12">
						<a href="#" class="btn-primary py-2 px-5 shadow mt-sm-3">Subscribe</a>
						<p class="footer_copy pt-2">
							By clicking subscribe, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div id="side-nav" class="main_side_menu">
		<ul class="menu">
			<li class="logo">
				<img src="../image/logo.jpg" alt="logo-menu">
			</li>
			<li>
				<a href="#">Contact Us</a>
			</li>
			<li class="account-list">
				<a href="#">My FC.Account</a>
			</li>
			<li>
				<a href="#">Agents</a>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#sales-service" role="button" aria-expanded="false" aria-controls="sales-service">
					Our Sales Service
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="sales-service">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#rent-service" role="button" aria-expanded="false" aria-controls="rent-service">
					Our Rent Service
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="rent-service">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#explore" role="button" aria-expanded="false" aria-controls="explore">
					Explore
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="explore">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#about-us" role="button" aria-expanded="false" aria-controls="about-us">
					About Us
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="about-us">
					<ul class="menu-collapse">
						<ul class="menu-collapse">
							<li>Valuations</li>
							<li>Sell my property</li>
							<li>Buyer's Guide</li>
							<li>Sellers's Guide</li>
							<li>Mortgage Service</li>
							<li>UK Investment</li>
							<li>Internetional Investors</li>
							<li>Currency</li>
							<li>Conveyancing</li>
						</ul>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Agents</a>
			</li>
		</ul>
		<div class="closebtn">
			<a type="button" onclick="toggleNav()">
				Close
				<i class="fas fa-times"></i>
			</a>
		</div>
	</div>

	<script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>