<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/bootstrap.min.css">
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Fond Corporaties</title>
</head>
<body id="body">
	<div class="wrapper">
		<%- include('./partials/header.ejs') %>
        <section class="header-block">
            <video poster="../image/poster.png" muted loop controls class="header-video relative">
                <div class="title-video">
                    <h2>
                        Property <br> Management
                    </h2>
                </div>
                <source src="../video/video.mp4" type="video/mp4">
            </video>
		</section>
		<main class="full-page my-2">
            <section class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <p class="card-paragraph d-flex justify-content-center flex-column">
                            <span>Being a landlord is great! Until you need to find new tenants or deal with faulty AC.</span>
                            
                            <span>We’ll take care of it. From screening new tenants and collecting rent to carrying out maintenance – and everything in between – our comprehensive property management service gives landlords and tenants complete peace of mind.</span>
                            
                            <span>What’s more, our goal is to ensure maximum return on your investment so in addition to providing you with a hassle-free experience, we make it our business to maintain a high occupancy rate.</span>
                            
                            <span>Whether you own a single unit or an entire building, let our professionals shoulder the responsibility, while you reap the rewards.</span>
                        </p>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <img src="../image/cards-image-left.png" class="img-fluid" alt="card-image">
                    </div>
                </div>
            </section>
            <section class="container-list">
                <div class="container-fluid">
                    <div class="row py-5">
                        <h2>
                            Why should you choose Betterhomes <br> to manage your property?
                        </h2>
                        <ol class="ms-4 ps-3">
                            <li>
                                <h4>
                                    Better occupancy rate
                                </h4>
                                <p>
                                    With an occupancy rate averaging at 95%, we attract only high-quality tenants for your property.
                                </p>
                            </li>
                            <li>
                                <h4>
                                    Higher rentals
                                </h4>
                                <p>
                                    Units managed by our property management team yielded on average 6.14% higher rental prices than non-managed residential units leased.*
                                </p>
                            </li>
                            <li>
                                <h4>
                                    Hassle-free
                                </h4>
                                <p>
                                    Our professional team with a collective experience of over 30 years in property management are equipped to handle any situation, taking away the hassles and worries of managing the tenancies including collecting payments, completing renewal formalities as per the governing laws and maintaining your property, giving you a total peace of mind.
                                </p>
                            </li>
                            <li>
                                <h4>
                                    Quality maintenance
                                </h4>
                                <p>
                                    A dedicated team of qualified contractors that have been vetted and approved by Betterhomes, you can be confident of the quality of maintenance work carried out on your property, protecting the long term value of your asset.
                                </p>
                            </li>
                            <li>
                                <h4>
                                    Quarterly account statements
                                </h4>
                                <p>
                                    Our team will prepare income and expense statements for your property and these will be sent over every quarter and any other information as mutually agreed or as required.
                                </p>
                            </li>
                            <li>
                                <h4>
                                    Happy tenants
                                </h4>
                                <p>
                                    A well-managed property means happy tenants. Our happy tenants stay longer, which reduces the vacant periods between tenancies. *This information is based on 2019 data from 12 key communities in Dubai
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="container-fluid">
                <div class="row py-2">
                    <div class="d-flex justify-content-between position-relative">
                        <div>
                            <h2>
                                Managing <br> the buildings
                            </h2>
                        </div>
                        <div class="card-image">
                            <img src="../image/card-img-1.png" alt="card-image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="card-paragraph">
                            <span>
                                Our dedicated team is made up of over 50 members and we manage a range of commercial and residential units. Our clients include banks, corporate and financial institutions. We offer best in class technology that includes Yardi property management software, PropSpace CRM, the Easy Inspection app for inspections, and we also send automated reminders for renewals and post dated cheques to ultimately provide an excellent service to our clients.
                            </span>
                            <br>
                            <span>
                                We provide end to end property management services for all kinds of properties. This starts with marketing and leasing, to tenant and lease management, inspections and audits, shortlisting and finalising the service provider on behalf of the landlord, overseeing the facility management service provider and even accounting and reporting. Our dedicated team is in place to provide these services to support you as a landlord by reducing the time and stress involved with managing your property, reducing vacant periods and maximising your revenue.
                            </span>
                            <br>
                            <span>
                                With our services we help to bring you peace of mind that your property is being well taken care of, that you are receiving a cost-effective and efficient management service and enhanced service delivery.
                            </span>
                        </p>
                    </div>
                </div>
            </section>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md my-4">
						<img src="../image/logo-footer.png" alt="logo-footer">
					</div>
				</div>
				<h4>
					<b>Experience <br> better.</b>
				</h4>
				<div class="row mt-4">
					<div class="col-md-4 col-sm-12 d-flex justify-content-md-between">
						<ul class="footer_list">
							<li>
								<a href="#">Awards</a>
							</li>
							<li>
								<a href="#">Our Story</a>
							</li>
							<li>
							   	<a href="#">Our Branches</a>
							</li>
							<li>
							 	<a href="#">Meet The Team</a>
							</li>
							<li>
								<a href="#">Why Choose Us</a>
							</li>
							<li>
								<a href="#">A partner of houza.com</a>
							</li>
						</ul>
					
						<ul class="footer_list">
							<li>
								<a href="#">Blogs</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Make a Complaint</a>
							</li>
							<li>
								<a href="#">Publications</a>
							</li>
							<li>
								<a href="#">Preferred Partners</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-12">
						<div class="footer_description">
							<h4>Let's keep in touch</h4>
							<p>
								Subscribe to our newsletters and be the first to know about exclusive deals, property price trends and real estate news in the UAE.
							</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-12">
						<div>
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="text" placeholder="Name">
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="text" placeholder="Surname">
							<input class="form-control bg-transparent border-0 rounded-0 border-bottom border-dark px-0 mt-2" type="email" placeholder="Your e-mail">
						</div>
					</div>
					<div class="col-md-2 col-sm-12">
						<a href="#" class="btn-primary py-2 px-5 shadow mt-sm-3">Subscribe</a>
						<p class="footer_copy pt-2">
							By clicking subscribe, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div id="side-nav" class="main_side_menu">
		<ul class="menu">
			<li class="logo">
				<img src="../image/logo.jpg" alt="logo-menu">
			</li>
			<li>
				<a href="#">Contact Us</a>
			</li>
			<li class="account-list">
				<a href="#">My FC.Account</a>
			</li>
			<li>
				<a href="#">Agents</a>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#sales-service" role="button" aria-expanded="false" aria-controls="sales-service">
					Our Sales Service
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="sales-service">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#rent-service" role="button" aria-expanded="false" aria-controls="rent-service">
					Our Rent Service
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="rent-service">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#explore" role="button" aria-expanded="false" aria-controls="explore">
					Explore
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="explore">
					<ul class="menu-collapse">
						<li>Valuations</li>
						<li>Sell my property</li>
						<li>Buyer's Guide</li>
						<li>Sellers's Guide</li>
						<li>Mortgage Service</li>
						<li>UK Investment</li>
						<li>Internetional Investors</li>
						<li>Currency</li>
						<li>Conveyancing</li>
					</ul>
				</div>
			</li>
			<li>
				<a data-bs-toggle="collapse" href="#about-us" role="button" aria-expanded="false" aria-controls="about-us">
					About Us
					<i class="fas fa-caret-down"></i>
				</a>
				<div class="collapse" id="about-us">
					<ul class="menu-collapse">
						<ul class="menu-collapse">
							<li>Valuations</li>
							<li>Sell my property</li>
							<li>Buyer's Guide</li>
							<li>Sellers's Guide</li>
							<li>Mortgage Service</li>
							<li>UK Investment</li>
							<li>Internetional Investors</li>
							<li>Currency</li>
							<li>Conveyancing</li>
						</ul>
					</ul>
				</div>
			</li>
			<li>
				<a href="#">Agents</a>
			</li>
		</ul>
		<div class="closebtn">
			<a type="button" onclick="toggleNav()">
				Close
				<i class="fas fa-times"></i>
			</a>
		</div>
	</div>

	<script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>